<!DOCTYPE html>

<html>

    <head>
        <title>Account</title>
        {{>head}}
    </head>

    <body>

        <!--Navigation-->
        <div>
        <a href="/logout">Logout</a>
        <a href="/home">Home</a>
        {{#ifCond req.user.admin ">=" 1}} 
        <a href="/app">Create App</a>
        {{/ifCond}}
        </div>

        <!--Info-->
        <div>
            <p>Name: {{req.user.name}} </p>
            <p>Nick: </p>
            {{>updateNick}}
            <p>Email: {{req.user.email}}</p>
            <p>Biography:</p>
            {{>updateBio}}
            <img src="{{req.user.profilePic}}" />
            {{>updateProfilePic}}
            <a id="updateredirect" href="/user/{{req.user.nick}}">See public profile</a>
        </div>
        
        <!--Sessions-->
        <div>
        {{>fetchSessions}}
        </div>
        
        <!--Your Apps-->
        <div>
        {{>fetchAccountApps}}   
        </div>
        


    </body>

</html>