<!DOCTYPE html>

<html>

    <head>
    <title>Account</title>
    </head>

    <body>

        <div>
        <a href="/logout">Logout</a>
        <a href="/home">Home</a>
        </div>

        <div>
            <p>Name: {{name}} </p>
            <p>Nick: {{nick}}</p>
            <p>Email: {{email}}</p>
            <img src="{{profilePic}}" />
        </div>


    </body>

</html>