<!DOCTYPE html>

<html>

    <head>
    <title>Add App</title>
    {{>head}}
    </head>

    <body>

    <a href="/logout">Logout</a>
    <a href="/account">Your Account</a>

    <div>
        <p>A page to add apps (just for admins)</p>
    </div>


    </body>

</html>