<!DOCTYPE html>

<html>

    <head>
    <title>Edit apps</title>
    {{>head}}
    </head>

    <body>

        <a href="/home">Home</a>
        <a href="/post/{{req.post.name}}">View app public page</a>

        {{>editApp}}

        {{>deleteApp}}

    </body>

</html>