<!DOCTYPE html>

<html>

    <head>
    <title>Home</title>
    {{>head}}
    </head>

    <body>

    <a href="/logout">Logout</a>
    <a href="/account">Your Account</a>


    <!--General scripts-->
    {{>bodyscripts}}
    </body>

</html>