<!DOCTYPE html>

<html>

    <head>
    <title>Login</title>
    {{>head}}
    </head>

    <body>

    <a href="/auth/google">Login with google<a>
    <a href="/auth/facebook">Login with facebook<a></a>

    </body>

</html>