<!DOCTYPE html>

<html>

    <head>
    <title>Welcome</title>
    {{>head}}
    </head>

    <body>

    <a href="/login">Login</a>

    <!--Show Some Apps-->
    <div>
    {{>fetchMainApps}}   
    </div>

    </body>

</html>

