<!DOCTYPE html>

<html>

    <head>
    <title>{{post.name}}</title>
    {{>head}}
    </head>

    <body>

    <a href="/home">Home</a>

    <!--Show Some Apps-->
    <div>
    {{>fetchAppInfo}}   
    </div>

    <!--Comments-->
    <div>
    {{>comments}}   
    </div>

    </body>

</html>