<!DOCTYPE html>

<html>

    <head>
    <title>{{post.name}}</title>
    {{>head}}
    </head>

    <body>

        <!--Navbar-->
        {{>navbar}}

        <!--Main-->
        <div class="main-scroll desktop bg-shadow1">
        <div class="submain">

            <!--Show Some Apps-->
            {{>fetchAppInfo}}   

            <!--Comments-->
            {{>comments}}   

        </div>
        </div>

        <!--Footer-->
        {{>footer}}

        <!--Warning-->
        {{>warning}}

    </body>

</html>