<!DOCTYPE html>

<html>

    <head>
        {{>head}}
        <title>{{profile.nick}}</title>
    </head>

    <body>

    <!--Navigation-->
    <div>
    <a href="/home">Home</a>

    <!--Show profile info-->
    <div>
    {{>showProfile}}
    </div>

    <!--Show your public apps-->
    <div>
    {{>fetchApps}}
    </div>


    </body>

</html>

