<!DOCTYPE html>

<html>

    <head>
        {{>head}}
        <title>{{profile.nick}}</title>
    </head>

    <body>

         <!--Navbar-->
        {{>navbar}}

        <!--Main-->
        <div class="main-scroll desktop bg-shadow1">
        <div class="submain">

            <!--Show profile info-->
            {{>showProfile}}
            
        </div>
        </div>

        <!--Footer-->
        {{>footer}}

        <!--Warning-->
        {{>warning}}


    </body>

</html>

