<!DOCTYPE html>

<html>

    <head>
        <title>User {{req.params.id}}</title>
        {{>head}}
    </head>

    <body>

    <!--Navigation-->
    <div>
    <a href="/home">Home</a>

    <!--Show profile info-->
    <div>
    {{>showProfile}}
    </div>


    </body>

</html>

