<!--App data-->
<div>
    <form id="appcreateform">

            <div>
                <label id="status"></label>
            </div>

            <div>
            <input id="title" type="text" placeholder="Title">
            </div>

            <div>
            ​<textarea id="description" placeholder="A brief description" rows="10" cols="70"></textarea>
            </div>

            <div>
            <input id="name" type="text" placeholder="App name">
            </div>

            <div>
            <input id="url" type="text" placeholder="App URL">
            </div>

            <div>
            <p>Public?</p>
            <input id="public" type="checkbox" placeholder="Public?">
            </div>

            <div>
            <p>Local? (Admin Only - Verify if there's a file to read at views/apps/)</p>
            <input id="local" type="checkbox" placeholder="Public?">
            </div>

            <div>
            <p>Auth required? (Admin Only - Verify if there's a file to read at views/apps/)</p>
            <input id="auth" type="checkbox" placeholder="Public?">
            </div>

            <div>
            <button id="submit" type="button">Create</button>
            </div>
            

    </form>
</div>



<script>

//Start state    
var block = 0

//SOCKET
//Execute every time input updates
$("#appcreateform").on("change keyup paste", function(){

    $("#submit").prop("disabled",true);

    //Set elements
    var title = document.getElementById("title").value
    var description = document.getElementById("description").value
    var name = document.getElementById("name").value
    var url = document.getElementById("url").value
    var public = document.getElementById("public").checked
    var local = document.getElementById("local").checked
    var auth = document.getElementById("auth").checked
    
    //Create object
    var appData = {title, description, name, url, public, local, auth}


    //Send
    if(block==0){
        block = 1

        socket.emit("app", appData, (data)=>{

            //Something is wrong > Show error
            if(data){

                $("#submit").prop("disabled",true);
                block = 0
                return $("#status").text(data);
            }

            //Everything is right
            $("#status").text("Ready to create");
            $("#submit").prop("disabled",false);
            $("#submit").attr("onclick","createApp('"+JSON.stringify({appData})+"')");
            block = 0

        })   
    }

})

//AJAX
//Change nick
function createApp(appData){ 

$("#submit").prop("disabled",true);

$.ajax({
data: appData,
contentType: 'application/json',
method: 'POST',
url: '/app',
success: function () {
    $("#status").text("Success!");
}
}
)}


</script>


