<!--App data-->
<div>
    <form>

            <div>
            <input id="title "type="text" placeholder="Title">
            <label></label>
            </div>

            <div>
            ​<textarea id="description" placeholder="A brief description" rows="10" cols="70"></textarea>
            <label></label>
            </div>

            <div>
            <input id="url" type="text" placeholder="App name">
            <label></label>
            </div>

            <div>
            <input id="url" type="text" placeholder="App URL">
            <label></label>
            </div>

            <div>
            <p>Public?</p>
            <input id="public" type="checkbox" placeholder="Public?">
            </div>

            <div>
            <p>Local? (Admin Only - Verify if there's a file to read at views/apps/)</p>
            <input id="public" type="checkbox" placeholder="Public?">
            </div>

            <div>
            <p>Auth required? (Admin Only - Verify if there's a file to read at views/apps/)</p>
            <input id="public" type="checkbox" placeholder="Public?">
            </div>

            <div>
            <button id="submit" type="button">Create</button>
            </div>
            

    </form>
</div>




