<!--CREATE APP-->

    <!--App data-->
    <div>
        <form id="appcreateform">

                <div>
                    <label id="status"></label>
                </div>

                <div>
                <input id="title" type="text" placeholder="Title">
                </div>

                <div>
                ​<textarea id="description" placeholder="A brief description" rows="10" cols="70"></textarea>
                </div>

                <div>
                <input id="name" type="text" placeholder="App name">
                </div>

                <div>
                <p>Local? (Admin Only - Verify if there's a file to read at views/apps/)</p>
                <input id="local" type="checkbox" placeholder="Public?">
                </div>

                <div>
                <input id="url" type="text" placeholder="App URL">
                </div>

                <div>
                <p>Public?</p>
                <input id="public" type="checkbox" placeholder="Public?">
                </div>

                <div>
                <p>Auth required? (Admin Only - Verify if there's a file to read at views/apps/)</p>
                <input id="auth" type="checkbox" placeholder="Public?">
                </div>

                <div>
                <button id="submit" type="button">Create</button>
                </div>
                
        </form>
    </div>

    <!--Script-->
    <script src="js/createApp.js"></script>

 


