<!--FETCH APP-->

    <!--Search -->
    <div id="searchzone">

        <div>
            <input id="search" type="text"  placeholder="Search"/>
        </div>
        
        <div>
            <p>Local?</p>
            <input id="local" type="checkbox">
        </div>

        <div>
            <p>Sort by</p>
            <select id="sort">
                <option value="0">Newer</option>
                <option value="1">Older</option>
            </select>
        </div>

    </div>

    <!--Show list -->
    <div id="showzone"></div>

    <!--Page selector-->
    <div>
        <button type="button" class="navig" id="previous"><-</button>
        <p>Current page is </p> <p id="page">1</p>
        <button type="button" class="navig" id="next">-></button>

    </div>


    <!--Script-->
    <script src="\js/fetchApps.js"></script>


    

