    <footer>

        <div class="col bg-shadow2 border2-shadow1" style="margin:5px">
            <div class="row" style="width:200px;margin-left:5px;margin-top:4px; margin-bottom:4px;">
                <button class="bnt1" onClick="msgOpenSoftwareLicenses()" type="button" style="width:200px; ">software licenses</button>  
            </div>
            <div class="row" style="width:200px;margin-left:5px;margin-top:4px; margin-bottom:4px;">
                <button class="bnt1" onClick="msgOpenPrivacyPolicy()" type="button" style="width:200px; ">privacy policy</button>
            </div>
            <div class="row" style="width:200px;margin-left:5px;margin-top:4px; margin-bottom:4px;">
                <button class="bnt1" onClick="msgOpenTermsOfService()" type="button" style="width:200px; ">terms of service</a>
            </div>
        </div>

    </footer>