    <!--Show profile-->
    <div>
        <p>{{profile.nick}}</p>

        <img src="{{profile.profilePic}}" />

        <div style="margin-bottom: 5px;">
            <div id="bio"></div>
            <div id="bioRaw" style="display:none">
                {{profile.bio}}
            </div>
        </div> 

    </div>

    <!--Script-->
    <script src="\js/showProfile.js"></script> 
