<!--UPDATE PROFILE PIC-->

    <!--Image Upload-->
    <div>
        <form id="picupload" enctype="multipart/form-data">

            <div id="picuploaddiv">
            <input type="file" accept="image/*" id="picselect">
            </div>

            <div><p id="picerror"></p></div>
            <div id="picpreview">
                <div id="picshow"></div>
                <button id="Rotate-Left" type="button">Rotate Left</button>
                <button id="Rotate-Right" type="button">Rotate Right</button>
                <button id="Cancel" type="button">Cancel</button>
                <input id="Submit" type="submit" value="Change">
                </div>

        </form>
    </div>

    <!--Script-->
    <script src="js/updateProfilePic.js"></script> 
