    <!--Bio Update-->
    <div>
        <form id="biochangeform">
            <textarea id="bio" placeholder="Hi. My name is..." rows="10" cols="60">{{user.bio}}</textarea>
            <button id="biobutton" type="button">Update</button>
            <label id="biostatus"></label>
        </form>
    </div>

    <!--Script-->
    <script src="js/updateBio.js"></script> 