<div class="warning" style="display:none">
    <div class="subwarning">
        <div class="warningTitle">
            <h1 class="light warningTitleContent">Are you sure?</h1>
        </div>
        <div class="warningContent light" data-simplebar>
            <div class=" warningScroll" style="text-align: left;">
            </div>
        </div>
        <div class="warningButtons" >
            <button class="okayWarning bnt3" type="button" style="border-radius: 100px height:45px; width: 150px;">✓ with style</button>
            <button class="closeWarning bnt2" type="button" style="border-radius: 100px height:45px; width: 45px;">X</button>
        </div>
    </div>
</div>