{{#if user._id}} 

<div id="comPostComments" style="width: 700px;">
    <p>Post comment:</p>
    <div id="comEditor" style="height: 500px;"></div>
</div>

<div>
    <p id="comStatusComment"></p>
    <button id="comPostComment">Post</button>
</div>


{{else}}

<div id="comShowComments">
    <p>Login to post comments</p>
</div>

{{/if}}


<div id="comShowComments">
</div>

<!--Page selector-->
    <div>
        <button type="button" class="navig" id="comPrevious"><-</button>
        <p>Current page is </p> <p id="comPage">1</p>
        <button type="button" class="navig" id="comNext">-></button>

    </div>

<!--Script-->
<script src="\js/comment/fetchComments.js"></script> 
<script src="\js/comment/postComment.js"></script> 