<!--FETCH APP-->

    <!--Search -->
    <div id="appFetSearchzone">

        <div>
            <input id="appFetSearch" type="text"  placeholder="Search"/>
        </div>
        
        <div>
            <p>Local?</p>
            <input id="appFetLocal" type="checkbox">
        </div>

        <div>
            <p>Sort by</p>
            <select id="appFetSort">
                <option value="0">Newer</option>
                <option value="1">Older</option>
            </select>
        </div>

    </div>

    <!--Show list -->
    <div id="appFetShowzone" class="subsector6"></div>

    <!--Page selector-->
    <div>
        <button type="button" class="navig" id="appFetPrevious"><-</button>
        <p>Current page is </p> <p id="appFetPage">1</p>
        <button type="button" class="navig" id="appFetNext">-></button>
    </div>


    <!--Script-->
    <script src="\js/app/fetchApps.js"></script>


    

