    <!--Bio Update-->
    <div>
        <form id="bioChangeForm">
            <div style="height: 500px; margin-bottom: 100px;">
                <div id="bio"></div>
                <div id="bioRaw" style="display:none">
                    {{user.bio}}
                </div>
            </div> 
            <button id="bioButton" type="button">Update</button>
            <label id="bioStatus"></label>
        </form>
    </div>

   
    

    <!--Script-->
    <script src="js/profile/updateBio.js"></script> 