   <!--Image Upload-->
    <div>
        <form id="picUpload" enctype="multipart/form-data">
            <div id="picUploadDiv">
            <input type="file" accept="image/*" id="picSelect">
            </div>

            <div><p id="picError"></p></div>
            <div id="picPreview">
                <div id="picShow"></div>
                <button id="picRotateLeft" type="button">Rotate Left</button>
                <button id="picRotateRight" type="button">Rotate Right</button>
                <button id="picCancel" type="button">Cancel</button>
                <input id="picSubmit" type="submit" value="Change">
                </div>
        </form>
    </div>

    <!--Script-->
    <script src="js/profile/updateProfilePic.js"></script> 
