    <!--Nick Update-->
    <div>
        <form id="nickChangeForm">
            <input id="nick" type="text" value="{{user.nick}}">
            <button id="nickButton" type="button">Update</button>
            <label id="nickStatus"></label>
        </form>
    </div>

    <!--Script-->
    <script src="js/profile/updateNick.js"></script>